<!DOCTYPE html>
<html>
<head>
	<title>MetaBlog</title>
</head>
<body>
	<%- body%>
	<hr>
	<a href="/" class="btn">Home</a>
	<a href="/articles" class="btn">Articles</a>
	<a href="/articles/new" class="btn">Add Article</a>
	<a href="/authors" class="btn">Authors</a>
	<a href="/authors/new" class="btn">Add Authors</a>
</body>
</html>